<footer class="footer">
	<div class="container">
		<div class="grid-4 footer_recominte">
			<h3>Recominte</h3>
			<ul>
				<li><a href="#">A Empresa</a></li>
				<li><%= link_to 'Trabalhe Conosco', new_contact_path %></li>
				<li><%= link_to 'Seja um Parceiro', new_contact_path %></li>
				<li><%= link_to 'Fale Conosco', new_contact_path %></li>
			</ul>
		</div>

		<div class="grid-4 footer_tracertag">
			<h3>Tracer Tag</h3>
			<ul>
				<li><a href="http://201.20.37.40/login/index.php" target="_blank">Área do Cliente</a></li>
				<li><a href="#">Assistência Técnica</a></li>
				<li><a href="#">Ficha Técnica do Produto</a></li>
			</ul>
		</div>

		<div class="grid-4 footer_outros">
			<h3>Outros</h3>
			<ul>
				<li><a href="#">Referências e Aprovações</a></li>
				<li><%= link_to 'Notícias', notices_path %></li>
				<li><%= link_to 'Eventos', events_path %></li>
				<li><a href="#">Folhetos</a></li>
			</ul>
		</div>

		<div class="grid-3 footer_social">
			<h3>Follow us</h3>
			<ul>
				<li>
					<a href="http://facebook.com/TracerTag" target="_blank">
						<%= image_tag  "redes-sociais/facebook.png", alt: "Facebook TracerTag" %>
					</a>
				</li>

				<li>
					<a href="http://twitter.com/TracerTag" target="_blank">
						<%= image_tag  "redes-sociais/twitter.png", alt: "Twitter TracerTag" %>
					</a>
				</li>
			</ul>
		</div>

		<div class="footer_icones grid-16">
			<ul>

				<li>
					<a href="page-english.html">
						<%= image_tag  "rodape_tracertage_inenglish-01.png", alt: "Summary English" %>
					</a>
				</li>

				<li>
					<a href="#">
						<%= image_tag  "rodape_anatel.png", alt: "Anatel" %>
					</a>
				</li>

				<li>
					<a href="pdfs/jalert.pdf" target="_blank">
						<%= image_tag  "rodape_1_jalert2.png", alt: "Jalert" %>
					</a>
				</li>

			</ul>
		</div>

		<div class="copy grid-16">
			<p>Copyright © 2016 RECOMINTE | Todos os direitos reservados.</p>
			<p>Developed by Startamus</p>
		</div>
  </div>
</footer>
