<footer class="footer">
	<div class="container">
		<div class="grid-4 footer_recominte">
			<h3>Recominte</h3>
			<ul>
				<li><%= link_to 'A Empresa', page_about_path %></li>
				<li><%= link_to 'Trabalhe Conosco', new_job_path %></li>
				<li><%= link_to 'Seja um Parceiro', new_contact_path %></li>
				<li><%= link_to 'Fale Conosco', new_contact_path %></li>
				<li><a href="tel:+551220121220">Tel: (12) 2012-1220</a></li>
			</ul>
		</div>

		<div class="grid-4 footer_tracertag">
			<h3>Tracer Tag</h3>
			<ul>
				<li><a href="http://170.83.56.206/login/index.php" target="_blank">Área do Cliente</a></li>
				<li><%= link_to 'Assistência Técnica', new_assistance_path  %></li>
				<li><%= link_to 'Ficha Técnica do Produto', '/pdfs/ficha_tecnica_produto_2017.pdf', target: '_blank' %></li>
			</ul>
		</div>

		<div class="grid-4 footer_outros">
			<h3>Outros</h3>
			<ul>
				<li><%= link_to 'Referências e Aprovações', page_references_path %></li>
				<!-- <li><%#= link_to 'Notícias', notices_path %></li> -->
				<li><%= link_to 'Eventos', events_path %></li>
				<li><%= link_to 'Folhetos', flyers_path %></li>
			</ul>
		</div>

		<div class="grid-3 footer_social">
			<h3>Follow us</h3>
			<ul>
				<li>
					<a href="http://facebook.com/TracerTag" target="_blank">
						<%= image_tag  "redes-sociais/facebook.png", alt: "Facebook TracerTag" %>
					</a>
				</li>

				<li>
					<a href="http://twitter.com/TracerTag" target="_blank">
						<%= image_tag  "redes-sociais/twitter.png", alt: "Twitter TracerTag" %>
					</a>
				</li>
			</ul>
		</div>

		<div class="footer_icones grid-16">
			<ul>

				<li>

						<%= link_to image_tag("rodape_tracertage_inenglish-01.png", alt: "Summary English"), page_english_path %>

				</li>

				<li>

					<%= link_to '/pdfs/CertificadodeHomologacaodaANATEL.pdf' do %>
						<%= image_tag  "rodape_anatel.png", alt: "Anatel" %>
					<% end %>
				</li>

				<li>
					<a href="/pdfs/jalert.pdf" target="_blank">
						<%= image_tag  "rodape_1_jalert2.png", alt: "Jalert" %>
					</a>
				</li>

			</ul>
		</div>

		<div class="copy grid-16">
			<p>Copyright © 2016 RECOMINTE | Todos os direitos reservados.</p>
			<p>Developed by Startamus</p>
		</div>
  </div>
</footer>
