<%= render 'elements/header' %>

<%= render 'elements/produto' %>

<%= render 'elements/newsletter' %>

<section class="modelos">

	<div class="container text-center">

		<h2>Lançamentos</h2>

		<ul class="modelos_lista">
			<% cache @products_launch do %>
				<% @products_launch.each do |product_launch| %>
					<% cache product_launch do %>
						<li class="grid-1-3">
							<%= link_to  modelos_path do %>
								<%= image_tag product_launch.image %>
								<h3><%= product_launch.name %></h3>
							<% end %>
						</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>

		<h2>Modelos</h2>

		<ul class="modelos_lista">
			<% cache @products do %>
				<% @products.each do |product| %>
					<% cache product do %>
						<li class="grid-1-3">
							<%= link_to  modelos_path do %>
								<%= image_tag product.image %>
								<h3><%= product.name %></h3>
							<% end %>
						</li>
					<% end %>
				<% end %>
			<% end %>

		</ul>
		<%= link_to 'ver todos', modelos_path, class: 'btn' %>
	</div>



</section>
