<%= render 'elements/header' %>

<%= render 'elements/produto' %>

<%= render 'elements/newsletter' %>

<section class="modelos">

	<div class="container">

		<h2>Modelos</h2>

		<ul class="modelos_lista">
			<% cache @products do %>
				<% @products.each do |product| %>
					<% cache product do %>
						<li class="grid-1-3">
							<%= link_to  modelos_path do %>
								<%= image_tag product.image %>
								<h3><%= product.name %></h3>
							<% end %>
						</li>
					<% end %>
				<% end %>
			<% end %>
		</ul>

	</div>

</section>
