<style>
	.modelos_lista img { margin:0; }
	.modelos_lista .grid-1-3 { min-height:300px; }
</style>

<%= render 'elements/header' %>

<%= render 'elements/produto' %>

<%= render 'elements/newsletter' %>

<section class="modelos">

	<div class="container">

		<ul class="modelos_lista">
				<% cache @products_launch do %>
					<% @products_launch.each do |product_launch| %>
						<% cache product_launch do %>
							<% if @products_launch.count == 3 %>
								<li class="grid-1-3">
							<% else %>
								<li class="grid-8-2">
							<% end %>
								<%= link_to  modelos_path do %>
									<%= image_tag product_launch.image.produc_list %>
									<h3><%= product_launch.name %></h3>
								<% end %>
							</li>
						<% end %>
					<% end %>
				<% end %>
			</ul>

			<h2>Modelos</h2>

			<ul class="modelos_lista clearfix">
				<% cache @products do %>
					<% @products.each do |product| %>
						<% cache product do %>
							<li class="grid-1-3">
								<%= link_to  modelos_path do %>
									<%= image_tag product.image.produc_list %>
									<h3><%= product.name %></h3>
								<% end %>
							</li>
						<% end %>
					<% end %>
				<% end %>
			</ul>

			<div class="clearfix"></div>
			<div style="width:100%; text-align:center">
				<%= link_to 'ver todos', modelos_path, class: 'btn' %>
			</div>


	</div>

</section>
