<section class="modelos">
		<div class="container">

 		<h2>Modelos</h2>

 		<ul class="modelos_lista">
 			<li class="grid-1-3">
 				<a href="page-modelo.html #cargo">
 					<%= image_tag "modelo_cargo.png" %>
					<h3>Cargo</h3>
 				</a>		
 			</li>
 			<li class="grid-1-3">
 				<a href="page-modelo.html #one">
					<%= image_tag "modelo_one.png" %>
					<h3>One</h3>
 				</a>
 			</li>
 			<li class="grid-1-3">
 				<a href="page-modelo.html #eagle">
 					<%= image_tag "modelo_eagle.png" %>
					<h3>Eagle</h3>
 				</a>				
 			</li>
 			<li class="grid-1-3">
 				<a href="page-modelo.html #pocket">
 					<%= image_tag "modelo_pocket.png" %>
					<h3>Pocket</h3>
 				</a>
 			</li>
 			<li class="grid-1-3">
 				<a href="page-modelo.html #aero">
					<%= image_tag "modelo_aero.png" %>
					<h3>Aero</h3>
				</a>
 			</li>
 			<li class="grid-1-3">
 				<a href="page-modelo.html #senset">
					<%= image_tag "modelo_temp.png" %>
					<h3>Sense T</h3>
				</a>
 			</li>
		</div>
	</section>
