<section class="container modelo_item" id="cargo">
    <h2>Referências e Aprovações</h2>
    <div class="grid-1-3">
      <%= link_to image_tag("anatelselo.png"), '/pdfs/CertificadodeHomologacaodaANATEL.pdf', target: '_blank'  %>
      <%= link_to image_tag("telit.jpg"), '/pdfs/telit.pdf', target: '_blank'  %>
    </div>
    <div class="grid-1-3">
      <%= link_to image_tag("selosvi.png"), '/pdfs/relatorio_cesvi_atp_130_14_v2.pdf', target: '_blank'  %>
      <%= link_to image_tag("voefloripa.png"), '/pdfs/voefloripa.pdf', target: '_blank'  %>
    </div>
    <div class="grid-1-3">
      <%= link_to image_tag("Logo_INPE.jpg"), '/pdfs/inpe.pdf', target: '_blank'  %>
    </div>
    <div class="grid-1-3">
       <%= link_to image_tag("relatorio-escala.jpg"), '#', target: '_blank'  %>

    </div>
  </section>
