<%= simple_form_for @contact, html: { class: 'container'}, remote: true do |f| %>

  <div class="form">

    <h1>FORMULÁRIO DE CONTATO</h1>

    <div id="alert" class="alert-success">
    </div>

    <%= f.input :name,  wrapper: false, placeholder: 'Seu nome',
    label: 'Nome' %>

    <%= f.input :email,  wrapper: false, placeholder: 'meu@exemplo.com',
    label: 'Email' %>

    <%= f.input :phone,  wrapper: false, placeholder: '(00) 00000-0000',
    label: 'Telefone', input_html: {class: 'phone'} %>

    <%= f.input :subject,  wrapper: false, placeholder: 'Assunto',
    label: 'Assunto' %>

    <%= f.input :message,  wrapper: false,
    placeholder: 'Em que podemos ajudar?', label: 'Mensagem' %>

    <%= f.submit 'Enviar' %>
  </div>
<% end %>
