
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="Rastreador, isca, carga, roubo, jammer, detector, segurança, monitoramento, veículos, transporte " />
		<meta name="author" content="Diego Collares" />
		<meta name="description" content="Os rastreadores TRACER TAG são feitos para você monitorar diversas situações – desde a rota feita por um pedestre até a trajetória de uma carga em um caminhão. Os dispositivos podem, inclusive, acompanhar bagagens em um avião, pois ao contrário dos outros rastreadores do mercado, foram projetados visando o transporte aéreo. Versátil, portátil e resistente, o TRACER TAG está pronto para acompanhar e monitorar o que você desejar." />

		<title> Monitoramento inteligente - Tracer Tag </title>

	  <%= csrf_meta_tags %>

		<%= favicon_link_tag 'favicon.ico' %>

		<% if current_page?(root_path) %>
			<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<% elsif current_page?(modelos_path) %>
			<%= stylesheet_link_tag 'products', media: 'all', 'data-turbolinks-track': 'reload' %>
		<% elsif current_page?(solucoes_path) %>
			<%= stylesheet_link_tag 'soluctions', media: 'all', 'data-turbolinks-track': 'reload' %>
		<% elsif current_page?(new_contact_path) || current_page?(new_assistance_path) || current_page?(new_job_path) %>
			<%= stylesheet_link_tag 'contacts', media: 'all', 'data-turbolinks-track': 'reload' %>
		<% elsif current_page?(events_path) || current_page?(flyers_path) %>
			<%= stylesheet_link_tag 'notices', media: 'all', 'data-turbolinks-track': 'reload' %>
		<% elsif current_page?(page_references_path)%>
			<%= stylesheet_link_tag 'references', media: 'all', 'data-turbolinks-track': 'reload' %>
		<% elsif current_page?(page_about_path) %>
			<%= stylesheet_link_tag 'notices', media: 'all', 'data-turbolinks-track': 'reload' %>
		<% end %>


	 </head>

  <body>

		<%= render 'elements/nav' %>

		<%= yield %>

		<%= render 'elements/footer' %>

		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  	<!--Start of Tawk.to Script-->
		<script type="text/javascript">
			var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
			(function(){
			var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
			s1.async=true;
			s1.src='https://embed.tawk.to/58068a59304e8e75855e7266/default';
			s1.charset='UTF-8';
			s1.setAttribute('crossorigin','*');
			s0.parentNode.insertBefore(s1,s0);
			})();
		</script>
		<!--End of Tawk.to Script-->

	</body>
</html>
